:root {
    --background:#E5E5E5;
    --white:#FFFFFF;
    --gray:#757575;
    --bluegray:#2F303A;
    --white-gray:#F5F4FA;
    --blue:#2196F3;
    --black:#212121;
    --main-font:'Roboto', sans-serif;
    --logo-font:'Raleway', sans-serif;
}

body{
    font-family: var(--main-font);
    font-style:normal;
    color: var(--black);
}
button{
    cursor: pointer;
}
/*header */
header{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
a{
    text-decoration: none; 
    color:inherit; 
}
ul{
    list-style: none;
}
.logo{
    color:var(--blue);
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: 1.19;
}
.studio-black{
    color:var(--black);
}
.studio-white{
    color:var(--white);
}
.contacts{
    color:var(--gray);
}
.nav-list .current,
.nav-list a:hover,
.nav-list a:focus,
.contacts a:hover,
.contacts a:focus {
    color:var(--blue);
}
/* Hero section */
.hero-section{
    background-color: var(--bluegray); 
}
.hero-section .hs-title{
    color: var(--white);
    font-weight: 900;
    line-height: 1.36;
    font-size: 44px;
    text-transform: uppercase;
}    
.hero-section .hero-button{
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
}
/* our features section */
.our-features .features{ 
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.our-features .features-text{
    color: var(--gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
/* what we do section */
.what-we-do .what-we-do-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
/* our tem section */
.our-team{
    background-color: var(--white-gray);    
}
.our-team .our-team-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
}
.our-team .name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.our-team .job{
    color: var(--gray);
    font-size: 16px;
    line-height: 1.18;
}
/* footer */
.footer{
    background-color: var(--bluegray);
}
.address{
    color: var(--white);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
}
/* Portfolio */
.filters .filter-button{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: #F5F4FA;
    border-radius: 4px;
}
.filters .filter-button:hover,
.filters .filter-button:focus{
    background-color: var(--blue);
    color: var(--white);
}
/* projects section */
.projects .p-names{
    font-size: 18px;
    line-height: 2;
}
.projects .p-description{
    color: var(--gray);
    line-height: 1.87;
}